<div class="navheader">
<ul class="tabbar">
  <li></li>
  <li class="tablinks active" data-tab="home" title="HJEM">HJEM</li>
  <li class="tablinks" data-tab="info" title="PRAKTISK INFO">PRAKTISK INFO</li>
  <li class="tablinks" data-tab="wishlist" title="ØNSKELISTE">ØNSKELISTE</li>
  <li class="tablinks" data-tab="contact" title="KONTAKT OSS">KONTAKT OSS</li>
  <li></li>
</ul>
</div>
