<div class="navheader">
<ul class="tabbar">
  <li class="tablinks active-tab" id="homeTab">HJEM</li>
  <li class="tablinks" id="infoTab">PRAKTISK INFO</li>
  <li class="tablinks" id="wishlistTab">ØNSKELISTE</li>
  <li class="tablinks" id="contactTab">KONTAKT OSS</li>
</ul>
</div>
