<strong>Ingvild Kirkebak</strong>
<p>480 57 553</p>
<h6></h6>
<strong>Jostein Hamre</strong>
<p>918 62 893</p>
<h6></h6>
<p>Toastmastere</p>
<strong>Hilde Trætteberg Serkland</strong>
<p>414 44 191</p>
<strong>Marianne Sævig</strong>
<p>996 13 908</p>
<h6></h6>
