<h3>OVERNATTING</h3>
  <p>
    RABATTERTE PRISER PÅ OVERNATTING
  </p>
  <ul>
    <li><strong>ENKELTROM</strong></li>
    <li>1295,-</li>
    <li><strong>DOBBELTROM</strong></li>
    <li>1495,-</li>
    <li><strong>JUNIORSUITTE</strong></li>
    <li>1795,-</li>
  </ul>

<h6></h6>

  <p>
    MER INFORMASJON KOMMER
  </p>

<h6></h6>
