<p>Vi har ønskeliste hos Illums Bolighus</p>
<a href="https://www.illumsbolighus.no/giftlist?giftlist=7d803e55" target="blank">Ønskelisten finner du her</a>
<p>Vi ønsker oss også bidrag til et gulvteppe fra Illums</p>
<h6></h6>
