<div id="home" class="tabcontent active">
  <h1>VI GIFTER OSS!</h1>
  <h2>LØRDAG 14. MARS 2020</h2>
  <h6></h6>
  <h3>FORELØPIG PROGRAM:</h3>
  <ul>
    <li><strong>13.00</strong></li>
    <li>Vielse: Holmenkollen Kapell</li>
    <li><strong>15.30</strong></li>
    <li>Snacks og kaffe på Lysebu</li>
    <li><strong>16.00</strong></li>
    <li>Mottagelse og apertiff på Lysebu</li>
    <li><strong>17.00</strong></li>
    <li>Bryllupsmiddag på Lysebu</li>
  </ul>
  <h6></h6>

</div>
<div id="info" class="tabcontent">
  <%= render 'info' %>
</div>
<div id="wishlist" class="tabcontent">
  <%= render 'wishlist' %>
</div>
<div id="contact" class="tabcontent">
  <%= render 'contact' %>
</div>
