<div id="home" class="tabcontent active">
  <h1>VI GIFTER OSS!</h1>

</div>
<div id="info" class="tabcontent">
  <%= render 'info' %>
</div>
<div id="wishlist" class="tabcontent">
  <%= render 'wishlist' %>
</div>
<div id="contact" class="tabcontent">
  <%= render 'contact' %>
</div>
