<div id="home" class="tabcontent active">
  <h1>VI GIFTER OSS!</h1>
  <h2>LØRDAG 14. MARS 2020</h2>
  <h6></h6>
  <h3>TOASTMASTERE</h3>
  <p>
  VI ER SÅ HELDIGE AT MARIANNE OG HILDE HAR SAGT JA TIL Å VÆRE TOASTMASTERE
  </p>
  <p><strong class="tablinks" data-tab="contact">KONTAKTINFORMASJON FINNER DU HER</strong></p>
  <h6></h6>
  <h3>OVERNATTING</h3>
  <p>
  VI FÅR RABATTERTE PRISER PÅ OVERNATTING
  </p>
  <a href="http://www.lysebu.no/hotell" target="blank">SJEKK UT IDYLLISKE LYSBU HOTELL HER</a>
  <p><strong class="tablinks" data-tab="info">MER INFORMASJON HER</strong></p>
  <h6></h6>
  <h3>FORELØPIG PROGRAM</h3>
  <ul>
    <li><strong>13.00</strong></li>
    <li>Vielse i Holmenkollen Kapell</li>
    <li><strong>15.30</strong></li>
    <li>Matbit på Lysebu</li>
    <li><strong>16.00</strong></li>
    <li>Mottagelse og apertiff på Lysebu</li>
    <li><strong>17.00</strong></li>
    <li>Bryllupsmiddag på Lysebu</li>
  </ul>
  <h6></h6>

</div>
<div id="info" class="tabcontent">
  <%= render 'info' %>
</div>
<div id="wishlist" class="tabcontent">
  <%= render 'wishlist' %>
</div>
<div id="contact" class="tabcontent">
  <%= render 'contact' %>
</div>
